<!-- ## TUTORIAL 2 - EXPLORE PANDAS LIBRARY TO ANALYZE AND MANIIPULATE DATA. -->

<!-- pandas is an open - source library fo rreal world data analysis in python. it is built on toop of 
numpy. using pandas, data can be cleaned, transformed, manipulated, and analyzed.
The basic data structures of pandas are series and DataFrame.
1. Series object Sries is a one dimensional labled array.
2. DataFame: A DataFrame in pandas is a two-dimesional, tabular data structure.
it consists of rows and columns.
columns represents different features.
rows represents records or entries.
index means label of rows. -->

In [ ]:
# pip install pandas

Requirement already satisfied: pandas in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# import numpy

In [ ]:
# import numpy as np

In [ ]:
# import pandas as pd

<!-- # HOME WORK
find out the difference list and numpy 1d array and pandas series -->

In [ ]:
# a  = np.array([1,2,3,4,5])
# # a  = np.array([1,2,3,4,5])
# print(a)

[1 2 3 4 5]

In [ ]:
# s1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])
# s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [ ]:
# data = [{'Name':'Raghu','Marks': 87},
#         {'Name':'Sita','Marks': 92},
#         {'Name':'Gita','Marks': 78}]
# ds = pd.DataFrame(data)
# print(ds)

    Name  Marks
0  Raghu     87
1   Sita     92
2   Gita     78

In [ ]:
# type(data)

list

In [ ]:
# # Check for missing values in the DataFrame
# ds.isna().sum()

Name     0
Marks    0
dtype: int64

In [ ]:
# read _excel

In [ ]:
# filepath = "submission1.xlsx"

In [ ]:
# student_data= pd.read_excel("submission1.xlsx")
# student_data

       Name   Branch Divison
0     RAGHU       CE       A
1     VIKAS  MEDICAL       C
2    VISHAL    MUSIC       A
3  KARADEEP    B.COM       B

In [ ]:
# pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#

Empty DataFrame
Columns: []
Index: []

In [ ]:
# iris = pd.read_csv("iris.csv",index_col=0)
# iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# iris.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
# iris.head(15)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

In [ ]:
# iris.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# iris.index[]

RangeIndex(start=0, stop=150, step=1)

In [ ]:
# iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
#

In [ ]:
# iris = iris.rename(columns={'spalength':'sepal_length','spawidth':'sepal_width',
#                             'petallength':'petal_length','petalwidth':'petal_width','species':'species'})
# iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# cat = iris["Species"].unique()
# cat

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [96]:
iris.replace("iris-setosa","setosa",inplace=True)
iris.replace("iris-versicolor","versicolor",inplace=True)
iris.replace("iris-virginica","virginica",inplace=True)

In [ ]:
# iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [ ]:
# iris['SepalLengthCm']

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [ ]:
# iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# iris[['SepalLengthCm','SepalWidthCm']].head()

    SepalLengthCm  SepalWidthCm
Id
1             5.1           3.5
2             4.9           3.0
3             4.7           3.2
4             4.6           3.1
5             5.0           3.6

In [ ]:
# def yes_no(sepal_length):
#     return 'yes' if sepal_length > 5 else 'no'
# # apply function to create new column
# iris['resutl'] = iris['SepalLengthCm'].apply(yes_no)
# iris

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,resutl
Id,,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa,yes
2,4.9,3.0,1.4,0.2,Iris-setosa,no
3,4.7,3.2,1.3,0.2,Iris-setosa,no
4,4.6,3.1,1.5,0.2,Iris-setosa,no
5,5.0,3.6,1.4,0.2,Iris-setosa,no
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,yes
147,6.3,2.5,5.0,1.9,Iris-virginica,yes
148,6.5,3.0,5.2,2.0,Iris-virginica,yes
149,6.2,3.4,5.4,2.3,Iris-virginica,yes
150,5.9,3.0,5.1,1.8,Iris-virginica,yes

In [95]:
# iris.drop('result',axis=1,inplace=True)
# iris

<!-- the .iloc indexer is primarily used for integer location based indexing,
#allowing you to access specific rows and columns by their numerical indices. -->

In [ ]:
# iris.iloc[0]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
resutl                   yes
Name: 1, dtype: object

In [ ]:
# iris.iloc[50:56]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,resutl
Id,,,,,,
51,7.0,3.2,4.7,1.4,Iris-versicolor,yes
52,6.4,3.2,4.5,1.5,Iris-versicolor,yes
53,6.9,3.1,4.9,1.5,Iris-versicolor,yes
54,5.5,2.3,4.0,1.3,Iris-versicolor,yes
55,6.5,2.8,4.6,1.5,Iris-versicolor,yes
56,5.7,2.8,4.5,1.3,Iris-versicolor,yes

In [ ]:
#