Tutorial 4: Implement Simple Linear Regression


Use the computers.csv dataset and perform the following activities:

Dataset contains the details of time taken to repair a computer, given the number of units to be repaired.

Dataset: Download from drive link

Build Regression model using Scikit-Learn Library(Model 3).
Set the 'Units' column as the input data or predictor column
Set the 'Minutes' column as the output data
Importing the required class -  LinearRegression
Creating a linear regression model
Fitting the model to the data
Fetching intercept and coefficient
Creating Linear Regression model with calculated coefficient and intercept.
Add the above model to the dataframe for Visualization.
Visualize Models using pyplot.
Compute the Coefficient of Determination to find accuracy.

In [7]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import os

In [9]:
# computers = pd.read_csv("../datasets/computers.csv")
computers = pd.read_csv("dataset/computers.csv")

In [10]:
computers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Units    14 non-null     int64
 1   Minutes  14 non-null     int64
dtypes: int64(2)
memory usage: 356.0 bytes

In [11]:
computers.head()

   Units  Minutes
0      1       23
1      2       29
2      3       49
3      4       64
4      4       74

In [12]:
computers.tail()
computers.isna().sum()

Units      0
Minutes    0
dtype: int64

In [13]:
mean_values = computers['Minutes'].mean()
mean_values

97.21428571428571