<!-- ## TUTORIAL 2 - EXPLORE PANDAS LIBRARY TO ANALYZE AND MANIIPULATE DATA. -->

<!-- pandas is an open - source library fo rreal world data analysis in python. it is built on toop of 
numpy. using pandas, data can be cleaned, transformed, manipulated, and analyzed.
The basic data structures of pandas are series and DataFrame.
1. Series object Sries is a one dimensional labled array.
2. DataFame: A DataFrame in pandas is a two-dimesional, tabular data structure.
it consists of rows and columns.
columns represents different features.
rows represents records or entries.
index means label of rows. -->

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import numpy

In [11]:
import numpy as np

In [12]:
import pandas as pd

<!-- # HOME WORK
find out the difference list and numpy 1d array and pandas series -->

In [13]:
a  = np.array([1,2,3,4,5])
# a  = np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [14]:
s1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [16]:
data = [{'Name':'Raghu','Marks': 87},
        {'Name':'Sita','Marks': 92},
        {'Name':'Gita','Marks': 78}]
ds = pd.DataFrame(data)
print(ds)

    Name  Marks
0  Raghu     87
1   Sita     92
2   Gita     78

In [17]:
type(data)

list

In [18]:
# Check for missing values in the DataFrame
ds.isna().sum()

Name     0
Marks    0
dtype: int64

In [22]:
read _excel

SyntaxError: invalid syntax (56746629.py, line 1)

In [23]:
filepath = "submission1.xlsx"

In [24]:
student_data= pd.read_excel("submission1.xlsx")
student_data

       Name   Branch Divison
0     RAGHU       CE       A
1     VIKAS  MEDICAL       C
2    VISHAL    MUSIC       A
3  KARADEEP    B.COM       B

In [25]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
iris = pd.read_csv("iris.csv",index_col=0)
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [27]:
iris.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [28]:
iris.head(15)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa

In [29]:
iris.tail(10)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
143            5.8           2.7            5.1           1.9  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

In [31]:
iris.index[0]

1

In [32]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [33]:
iris = iris.rename(columns={'spalength':'sepal_length','spawidth':'sepal_width',
                            'petallength':'petal_length','petalwidth':'petal_width','species':'species'})
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [34]:
cat = iris["Species"].unique()
cat

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
# iris.replace("iris-setosa","setosa",inplace=True)
# iris.replace("iris-versicolor","versicolor",inplace=True)
# iris.replace("iris-virginica","virginica",inplace=True)

In [35]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [36]:
iris['SepalLengthCm']

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [37]:
iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
iris[['SepalLengthCm','SepalWidthCm']].head()

    SepalLengthCm  SepalWidthCm
Id
1             5.1           3.5
2             4.9           3.0
3             4.7           3.2
4             4.6           3.1
5             5.0           3.6

In [39]:
def yes_no(sepal_length):
    return 'yes' if sepal_length > 5 else 'no'
# apply function to create new column
iris['resutl'] = iris['SepalLengthCm'].apply(yes_no)
iris

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,resutl
Id,,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa,yes
2,4.9,3.0,1.4,0.2,Iris-setosa,no
3,4.7,3.2,1.3,0.2,Iris-setosa,no
4,4.6,3.1,1.5,0.2,Iris-setosa,no
5,5.0,3.6,1.4,0.2,Iris-setosa,no
...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,yes
147,6.3,2.5,5.0,1.9,Iris-virginica,yes
148,6.5,3.0,5.2,2.0,Iris-virginica,yes
149,6.2,3.4,5.4,2.3,Iris-virginica,yes
150,5.9,3.0,5.1,1.8,Iris-virginica,yes

In [ ]:
# iris.drop('result',axis=1,inplace=True)
# iris

KeyError: "['result'] not found in axis"

<!-- the .iloc indexer is primarily used for integer location based indexing,
#allowing you to access specific rows and columns by their numerical indices. -->

In [41]:
iris.iloc[0]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
resutl                   yes
Name: 1, dtype: object

In [42]:
iris.iloc[50:56]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,resutl
Id,,,,,,
51,7.0,3.2,4.7,1.4,Iris-versicolor,yes
52,6.4,3.2,4.5,1.5,Iris-versicolor,yes
53,6.9,3.1,4.9,1.5,Iris-versicolor,yes
54,5.5,2.3,4.0,1.3,Iris-versicolor,yes
55,6.5,2.8,4.6,1.5,Iris-versicolor,yes
56,5.7,2.8,4.5,1.3,Iris-versicolor,yes

In [43]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'resutl'],
      dtype='object')

In [48]:
iris[(iris['PetalLengthCm'] > 6) & (iris['Species'] == 'virginica')]

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species, resutl]
Index: []

In [77]:
student_data.to_csv("./dataset/student_info.csv")

In [100]:
student_data = pd.read_csv("./dataset/student_info.csv")

In [102]:
student_data

   Unnamed: 0      Name   Branch Divison
0           0     RAGHU       CE       A
1           1     VIKAS  MEDICAL       C
2           2    VISHAL    MUSIC       A
3           3  KARADEEP    B.COM       B

In [99]:
student['study_hours'] = student['study_hours'].fillna(student['study_hours'].mean())

KeyError: 'study_hours'

In [65]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from ucimlrepo) (2.3.1)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from ucimlrepo) (2023.11.17)
Requirement already satisfied: numpy>=1.26.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [70]:
X.info

<bound method DataFrame.info of        age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64               NaN  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country
0      United-States
1      United-States
2      United-States
3      United-States
4               Cuba
...              ...
48837  United-States
48838  United-States
48839  United-States
48840  United-States
48841  United-States

[48842 rows x 14 columns]>

In [82]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [84]:
X['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked',
       nan], dtype=object)

In [88]:
X['occupation'].unique()
# i want to to print no of coulumns in occupation
print(len(X['occupation'].unique()))
# print(X['occupation'].unique())

16

In [87]:
X.loc[:,"workclass"]=X['workclass'].fillna(X['workclass'].mode()[0])

In [ ]:
X.loc[:,"occupation"]=X['occupation'].fillna(X['occupation'].mode()[0])

In [91]:
X.isna().sum()

age                 0
workclass           0
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
dtype: int64

In [97]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\raghu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df['Source_city'].

In [ ]:
df['class'].unique()

1. CountPlot
Count ploat is used when you have categorial variables , and you want to visualize the distribution of these categories.

In [112]:
sns.countplot(x='class', data='df')

NameError: name 'sns' is not defined

2. Piechart
A pie chart represents the parts of a whole entity  . the entire pie represents 100% , and each slice represents a proportion or percentage of the whole